* {
	margin: 0;
	padding: 0;
}

.main {
	margin: 15px auto;
	width: 100%;
}

.text {
	margin: auto;
	width: 70%;
	text-align: left;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.frame {
    @nSliceX:8;
    @nSliceY:8;
    @nSlice:@nSliceX * @nSliceY;
    display:grid;
    width:var(--w);
    height:var(--h);
    background:pink;
    grid-template-columns:repeat(@nSliceX, 1fr);
    grid-template-rows:repeat(@nSliceY, 1fr);
    .slice {
        width:calc(100% + 0.5px);
        height:calc(100% + 0.5px);
        background-image:var(--img);
        background-size:percentage(@nSliceX) percentage(@nSliceY);
        position:relative;
        each(range(@nSlice), {
            &:nth-of-type(@{value}) {
                transition:all unit(`1 + Math.random()`, s);
                background-position:
                    percentage(mod(@value - 1, @nSliceX)/ (@nSliceX - 1))
                    percentage(floor((@value - 1) / @nSliceX)/ (@nSliceX - 1));
                transform: 
                    translateX(unit(`Math.random() * 100 - 50`, vw))
                    translateY(unit(`Math.random() * 50 - 25`, vh))
                    rotate(unit(`Math.random()`, turn));
            }
        })
    }
    &:hover .slice {
        transform:translate(0, 0)rotate(0);
    }
}

.button {
	margin-top: 20px;
	margin-bottom: 70px;
	padding: 10px 25px;
	
	border-radius: 30px;
	border: none;
	background-color: mediumseagreen;

	font-size: 20px;
	font-family: 'Myriad Pro', sans-serif;
	color: white;
	text-align: center;
}

@media (max-width: 800px) {
  .main {
    width: 100%;
  }