.main {
	text-align: center;
	hyphens: auto;
}


h1 {
	font-family: 'Myriad Pro', sans-serif;
	font-weight: bold;
	font-size: 6.3em;
	line-height: 0.9em;
	color: crimson;
}

.hap {
	color: crimson;
}

.day {
	color: mediumblue;
}

h2 {
	font-family: 'Myriad Pro', sans-serif;
	font-size: 3.2em;
	color: mediumseagreen;
	text-align: center;
} 

.name {
	color: mintcream;
}

.white {
	color: snow;
}

h3 {
	font-family: 'Myriad Pro', sans-serif;
	font-weight: bold;
	font-size: 1.6em;
	color: tomato;
}

p {
	font-family: 'Myriad Pro', serif;
	font-size: 1.1em;
	line-height: 1.2em;
	color: tomato;
}

.bold {
	color: darkcyan;
	line-height: 1.4em;
	margin-left: 2em;
}