.main {
	text-align: center;
	hyphens: auto;
}

.deck {
	font-family: 'Minion Pro', serif;
	font-weight: medium;
	font-size: 1.5em;
	margin-right: 200px;
	margin-left: 200px;
	color: coral;
}

.note {
	font-family:'Minion Pro', serif;
	font-style: italic;
	font-size: 1em;
	color: orange;
}

.quote {
	font-family:'Minion Pro', serif;
	font-style: medium;
	font-size: 1.5em;
	text-align: left;
}

h1 {
	font-family: 'Myriad Pro', sans-serif;
	font-weight: bold;
	font-size: 7.3em;
	line-height: 0.9em;
	color: darkorange;
}

h2 {
	font-family: 'Myriad Pro', sans-serif;
	font-size: 3.2em;
	color: orangered;
} 

h3 {
	font-family: 'Myriad Pro', sans-serif;
	font-weight: bold;
	font-size: 1.45em;
	color: indianred;
}

p {
	font-family: 'Minion Pro', serif;
	font-size: 1em;
	color: salmon;
	margin-right: 200px;
	margin-left: 200px;
}